h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#sub-titulo{
    text-align: center;
    margin-bottom: 50px;
}

img{
    border-radius: 15%;
    margin-right: 30px;
    float: left;
    right: 100px;
   
    padding: 2px 2px;
}

p{
    font-family:monospace ;
    font-style: normal;
    font-size: large;
    padding: 20px;
    
}
header {
    background-color: #b9cbbe;
}

.list-size1{
    font-size:large;
}

.list-size2{
    font-size:medium;
}

.list-size3{
    font-size: small;
}

.links{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.impares{
    font-style: oblique;
}
/*A descrição deve ficar ao lado da foto;
Centralize seu nome na página;
Use padding e coloque uma cor de fundo na sua foto que seja diferente da cor de fundo do resto da página;
Adicione margin e padding nos elementos que julgar necessário;
Coloque estilo somente nos itens ímpares da lista das suas habilidades.